.column {
	position: relative;
    float: left;
    padding: 5px;
	top: 50px;
}

.column.left {
    width: 10%;
}

.column.middle {
    width: 45%;
}

.column.right {
    width: 20%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

section[class="plateau"]
{
	position: relative;
    left: 20%;
	top: -5px;
    height: 600px;
    width: 400px;
    background-color: #e2e2e0;
	border: 3px solid #0c0a03;
}

section[class="recap"]
{
	position: relative;
	top: -5px;
    height: 240px;
    width: 240px;
    background-color: #d8d8d8;
	border: 3px solid #0c0a03;
	word-wrap: keep-all;
}

div[class="score"]
{
	text-align: center;
	font-size: 30pt;
	font-family: cursive;
}

div[class="piece"]
{
	height: 60px;
	width: 180px;
}

div[class="lignes"]
{
	text-align: center;
	font-size: 15pt;
	font-family: cursive;
}