
h1 {
	position: absolute;
	font-size: 48px;
	color: purple;
	font-family : calibri;
	font-weight: bolder;
}

h2 {
	font-size: 20px;
	color: purple;
	font-family : calibri;
	font-weight: bolder;
}

nav {
	
}